/* Mixins */
.transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

/* Style */
body {
	padding-bottom: 20px;
}

.schema .netcontrols {
	display: inline-block;
	min-width: 40px;
}

.schema textarea {
	.transition(background-color, 0.2s, ease-in);
}

.schema.valid textarea {
	background-color: rgba(0,255,0,0.04);
}

.schema.invalid textarea {
	background-color: rgba(255,0,0,0.06);
}

.schema.warning textarea {
	background-color: rgba(200,250,0,0.06);
}

.schema {
	padding-bottom: 15px;
}

.controls > * {
	margin-left: 10px;
}

.dropdown {
	display: inline-block;
	padding-bottom: 5px;
}
.dropdown.hover ul.dropdown-menu {
	display: block;
	margin-top: -7px;
}
.dropdown.hover ul:after {
	/* This clears the floating list so that it can be hovered */
	content: "";
	clear: both;
	display: block;
}
